.card {
  text-align: center;
  margin: 5% 5%;
  border: black 2px solid;
  height: fit-content;
  min-height: 4cm;
  width: 33.3%;
  float: left;
  box-sizing: border-box;
}
.btn {
  justify-content: space-around;
}
